@import url(http://fonts.googleapis.com/css?family=Roboto);

// Bootstrap library.
@import 'bootstrap.less';

// Base-theme overrides.
@import 'overrides.less';

// Theme specific.
@import 'header.less';
@import 'content.less';
@import 'footer.less';

// Global
//---------------------------------------------
.section-subtitle {
	strong {
		font-weight: bold;
	}
}

// Header
//---------------------------------------------
#navbar.navbar-default {
	background-color: transparent;
	background-image: none;
	border-color: transparent;
	left: 0;
	margin: 0;
	max-width: 100%;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;

	.navbar-collapse {
		float: right;
	}

	.navbar-nav > li > a {
		color: white;
		text-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
	}
}

// Sections
//---------------------------------------------
.glb-section {
	background-color: white;
	overflow: hidden;
	position: relative;
	transition: min-height .5s ease;

	.section-title,
	.section-subtitle {
		text-align: center;
		text-transform:uppercase;
	}

	.section-title {
		font-size: 51px;
		margin-bottom: 50px;
		margin-top: 150px;
	}

	.section-subtitle {
		font-size: 32px;
		margin-bottom: 50px;
	}

	// Hero
	//-------------------------
	&.hero {

		.hero-container {
			bottom: 0;
			left: -100%;
			position:fixed;
			right: 0;
			text-align: center;

			top: 0;
			width: 300%;

			.hero-image {
				min-height: 100%;
			}
		}
	}

	// Location
	//-------------------------
	&.location {

		// Collapsible
		//-------------------------
		#accordion {
			//border-bottom: 1px solid #ddd;
			border-top: 1px solid #ddd;
			margin: 0;

			.panel {
				border: 0 none;
				border-radius: 0;
				margin-top: 0;

				.panel-collapse {
					border-bottom: 1px solid #ddd;
				}

				.panel-heading {
					background: none;
					border-radius: 0;
					//border-top: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					padding: 0;

					.panel-title {
						text-align: right;

						> a {
							display: block;
							padding: 10px 15px;
							text-transform: uppercase;

							span {
								display: block;
							}
						}
					}			
				}

				.collapse-in {
					+ .panel-heading {
						display: none;
					}
				}		
			}
		}

		.bkg-image-content {
			.eyebrow {
				font-size: 24px;
				text-align: right;
				text-transform: uppercase;
			}

			h3 {
				border-bottom: 2px solid #000;
				padding-bottom: 8px;
				text-align: right;
			}
		}
	}

	// Studios
	//-------------------------
	&.studios {

		.studio{
			height: 150px;
			position: relative;

			.studio-content {
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;

				> img {
					max-width: 100%;
				}

				.studio-overlay {
					background-color: rgba(255, 255, 255, 0.8);
					color: black;
					opacity: 0;
					padding: 15px;
					bottom: 0;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					transition: opacity .25s ease-in-out;
				}

				&:hover {
					.studio-overlay {
						opacity: 1;
					}
				}
			}
		}

		.bkg-green {
			background-color: @glb-green;
		}
		.bkg-orange {
			background-color: @glb-orange;
		}
		.bkg-blue {
			background-color: @glb-blue;
		}
		.bkg-violet {
			background-color: @glb-violet;
		}
	}

	// Contact
	//-------------------------
	&.contact {
		color: white;
	}
}

// Bkg Images
//---------------------------------------------
.bkg-image-container {
	position: relative;

	.bkg-image {
	}

	.bkg-image-content {
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

// Footer
//---------------------------------------------
.footer {
	background-color: white;
	margin: 0;
	position: relative;
	z-index: 1;
}

// Admin Styles
//---------------------------------------------
.logged-in {
	#navbar.navbar-default {
		margin-top: 20px;
	}
}